body {
    padding-top: 50px;
    padding-bottom: 20px;
    background:url("../img/box_img_4.jpg")no-repeat fixed;
    background-position:50% 50%;
    background-size:cover;
    color:#595959;
}

ul {
        padding:0;
        margin:0;
}

footer {
        background:#191D21;
        padding:20px 0px 10px 0px;
        color:#E8E8E8;
        text-align:center;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    input-group
}
/* Nav Principal */
#nav_prin { 
            padding:0px 0px 0px 0px;
}
#nav_search {
            padding:0px 10px 0px 10px;
            margin-top:1.3%;

}
/* Clear Both */
.clear {
    clear:both;
}


section.containter-fluid {
             width:100%;
             height:auto;
             padding-top:30px;  
}

/* Seccion Autos */

#filter_autos {
              
                background:#fff;
                border-right:1px dashed #ccc;
                padding:0px 0px 10px 0px;
                border-bottom:3px solid #D5D5D5;
}
#filter_autos h2 {
                font-size:1.5em;
                text-align:center;
                text-decoration:underline;
}
#filter_autos ul {
            margin:0 auto;
            padding:0 auto;
}
#filter_autos li {
            list-style:none;
            margin-left:5%;
            padding:5px 0px 5px 0px;
            border-bottom:1px dashed #ccc;
}
span.t_filter {
            font-weight:600;
            padding-left:10px;
            text-decoration:underline;
}

#list_autos {
            background:#fff;
            padding-top:40px;
            padding-bottom:0px;
            border-bottom:4px solid #D5D5D5;
            
            
}
#list_autos ul {    

            height:auto;
            width:100%;
            
}
.autos_img {
        text-align:center;
}
.autos_img img {
        margin:0 auto;
}
#vmautos {
        height:40px;
        text-align:right;
}
#list_autos li {
            list-style:none;
            margin-bottom:10px;
}
.autos_tt {
            padding:10px 0px 10px 0px;
            font-weight:600;
}
a#a_vm {
        padding:7px 20px 7px 20px;
        background:#4EC5DB;
        color:#fff;
        font-weight:500;
        border-radius:3px;
        border-bottom:3px solid #42A7BA;
}
a#a_vm:hover {
        opacity:0.8;
}
.autos_prop {
               width:100%;
               border-top:1px solid #ccc;
               padding-top:10px;
}
.autos_prop ul {
                padding:0;
                margin:0;
}
.autos_prop li {
                float:left;
                font-size:0.9em;
                margin-left:2%;
}



/* Vista de Auto */
#full_img {
            width:97%;    
            margin:0 auto;     
}
#full_img img {
            width:100%;
}
#p_colum_auto {
            background:#fff;
            border-bottom:3px solid #D5D5D5;
}
#p_colum_auto h2 {
            padding:0px 0px 0px 10px;
}

#nav_info_auto {
             float:left;
             width:100%;
}

.btn_info_auto {
                list-style:none;
                background:#20B1CB;
                text-align:center;
                border-left:1px solid #fff;
                padding:10px 0px 10px 0px;
                color:#fff;
                font-size:1.2em;
                font-weight:600;
                cursor:pointer;
}
.btn_info_auto:hover {
                opacity:0.8;
}
.btn_info_auto:first-child {
                border-left:none;
}
#cont_info_auto {
               padding:10px;
               float:left;
               width:100%;
}
#docu_cons {
}
#docu_cons ul {
        
}
#docu_cons li {
                list-style:none;
                float:left;
                text-align:center;
                padding:10px;
}
#mapa_cons {
               width:100%;
               height:300px;
              
}
#ct_auto {
            display:none;
}

#s_colum_auto {
            height:auto;
            text-align:center;
}
#s_colum_auto li{  
                list-style:none;
}
#price_auto {
            background:#21B4CF;
            color:#fff;
            padding:20px 0px 20px 0px;
            font-size:3em;
            text-align:center;
            border-bottom:3px solid #1B96AD;
            height:100px;
            
}
#s_colum_auto ul {
            background:#fff;
            padding:10px 0px 10px 0px;
            border-bottom:3px solid #D5D5D5;
}
#s_colum_auto li {
            padding:10px 0px 10px 0px;
            border-bottom:1px solid #ccc;
            text-align:center;
            
}

#Imgs_auto {
        height:auto;
}
#list_imgs {

}
#list_imgs ul {
            
}
#list_imgs li {
            width:31.5%;
            padding:10px 0px 10px 0px;
            list-style:none;
            float:left;
            margin-left:1.5%;
}
#list_imgs li img {
            width:100%;
}

/* Seccion Promotores */

#sec_sl_promotores {
                background:#232628;
}
#sec_sl_promotores h2 {
                color:#fff;
                text-align:center;
                font-weight:600;
                padding:20px 0px 20px 0px;
}



#txt_bienv {
            color:#F8A01C;
            font-size:3em;
            font-weight:600;
            text-align:center;
            font-style:italic;
            padding:20px;
            text-shadow:0 0 10px #000;
}
#txt_bienv h2 {
           font-size:1em;
           font-weight:600;
}
#img_bienv {
             
}
#img_bienv img {
            width:100%;
            max-height:330px;
            max-width:330px;
}

#list_promoters {
            
           width:100%;
           background:#fff;
           padding-bottom:20px;
}
#list_promoters ul {
            padding-bottom:10px;

}

#list_promoters h2 {
                padding:0;
                margin:1% 0% 0% 0%;
                text-align:center;
                font-size:3em;
                width:100%;
                color:#A7A7A7;
                background:#E8E8E8;
                border-bottom:3px solid #D4D4D4;
                padding:10px 0px 10px 0px;
                cursor:pointer;
}
#list_promoters h2:hover {
                background:#F8A01C;
                border-bottom:3px solid #D38818;
                color:#B37414;
}

#list_promoters li {
            list-style:none;
            background:#F4F4F4;
            padding:20px 0px 10px 0px;
            border-bottom:2px solid #ccc;
}
#info_promoter li {
              padding:10px 0px 10px 0px;
              border-bottom:1px dashed #ccc;
}
#info_promoter li:nth-child(4) {
                border-bottom:none
}
#info_promoter li.btn_map_pr {
               
                background:#FCCE54;
                color:#B6953C;
                text-align:center;
                font-weight:600;
                cursor:pointer;
                border-bottom:2px solid #D6AF47;
}
#info_promoter li.btn_map_pr:hover {
                opacity:0.8;
}

/* Seccion Quienes Somos */

#sec_qs {
            background:#fff;
            padding:20px;
            border-bottom:4px solid #D5D5D5;
}
#sec_qs h2{
            color:#595959;
}
#qs {
        font-weight:400;
        font-size:1.2em;
}

/* Seccion Contacto */

#contacto {
            width:100%;
            height:100%;
            background:#fff;
            padding-top:40px;
            padding-bottom:20px;
            text-align:center;
            border-bottom:4px solid #D5D5D5;
}
#contacto h2 {
            padding:0;
            margin:0;
            color:#5E5E5E;
}
#form_contacto {
            width:90%;
            margin:0 auto;
}
#contacto ul {
            padding:0;
            margin:0;
            margin-top:2%;
}
#contacto li {
            list-style:none;
            width:100%;
            margin-bottom:1.5%;
}
#contacto input,textarea {
            width:100%;
            height:40px;
            border:none;
            border-bottom:1px solid #ccc;
            border-radius:2px;
            font-size:1.3em;
            font-style:italic;
            background:#ECEFF3;
            padding-left:10px;
            padding-right:-11px;
}
#contacto textarea {
            height:150px;
            padding-top:10px;
}
#contacto input[type=submit] {
            background:#22B7D2;
            color:#fff;
            font-weight:600;
            font-size:1.5em;
            height:50px;
            border-bottom:3px solid #1D9CB3;
}
#contacto input[type="submit"]:hover {
            opacity:0.8;
}

/* Navegacion Paginas */

#navegacion {   
                width:auto;
                float:left;
                padding:5px 0px 5px 0px;
                height:40px;
                background:none;
                clear:both;
}
#navegacion ul {
            padding:0;
            margin:0;
            text-align:center;
}
#navegacion li {
            background:#22B7D2;
            border-bottom:3px solid #42A7BA;
            color:#fff;
            border-radius:3px;
            float:left;
            padding:5px 10px 5px 10px;
            margin-left:1%;
            cursor:pointer;
}

#navegacion li:hover {
            opacity:0.8;
}

/* PopUp */
#PopUp {
        width:100%;
        position:fixed!important;
        z-index:2222;
        height:100%;
        left:0%;
        top:0%;
        background:#000;
        background: rgba(000, 0, 0, 0.8);
        display:none;
}
#PopUp2 {
        width:80%;
        margin:0 auto;
}
#cont_pop {
        margin-top:5%;
        background:#fff;
        padding:0px 5px 0px 10px;
}
#mapa_pop {
        width:100%;
        height:400px;
}
#PopUp2 h2 {    
            float:left;
            padding:0;
            margin:0;
            padding-top:12px;
}
#close_pop {
            float:right;
            cursor:pointer;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
}
#close_pop:hover {
            -ms-transform: rotate(100deg);
            -webkit-transform:rotate(100deg);
            transform:rotate(100deg);
}


/* RESPONSIVE */
@media (max-width:990px) {
            
            /* View Auto */
            #s_colum_auto {
                    
                    width:100%;
                    padding:0;
            }
            #p_colum_auto h2 {
                     text-align:center;
                     font-size:1.3em;
                     margin-top:5%;
                     float:left;
            }

            /* Nav Information Auto */
            .btn_info_auto {
                       border-bottom:1px solid #fff;
            }
            #nav_info_auto div:last-child {
                        border-bottom:none;
            }

            /* IMG Promoter */
            #list_promoters li {
                    text-align:center;
            }
            #img_prom {
                width: 100%;
                
            }
            #img_prom img {
                 width:40%;
                 margin:0 auto;
                 
            }

            /* Nav Principal */
            #nav_prin {
                        padding-bottom:10px;
            }

            /* Seccion Autos */
            #filter_autos h2 {
                padding:20px 0px 20px 0px;
            }

            /* IMG Bienvenida Promoters */
            #img_bienv {
                width:100%;
                margin:0 auto;
                text-align:center;
            }

          
}

@media (max-width:767px) {
            
            /* Nav Principal */
            #nav_prin {
                        padding-bottom:10px;
            }

}
@media (max-width:600px) {

    /* Texto Bienvenida Promoters */
            
    #txt_bienv {
            font-size:2.3em;
    }
    
}

@media (max-width:450px) {
        
    /* H2 Promoters */
    #list_promoters h2 {
                font-size:2em;
    }
  
}

@media (max-width:400px) {

    /* H2 PopUp */
    #PopUp h2 {
            font-size:1.5em;
    }

}