
@{
    ViewBag.Title = "Autos";
}

<section class="containter-fluid">
    <div class="row">
        <article id="filter_autos" class="col-md-3">
            <h2>Busqueda por Filtros</h2>
            <span class="t_filter">Gamma</span>
            <ul>
                <a href=""><li>Baja</li></a>
                <a href=""><li>Media</li></a>
                <a href=""><li>Alta</li></a>
            </ul>
            <span class="t_filter">Transmisión</span>
            <ul>
                <a href=""><li>Automatica</li></a>
                <a href=""><li>Manual</li></a>
            </ul>
        </article>
        <article id="list_autos" class="col-md-9">
                <ul style="margin:0;padding:0;">
                    <a href="/Home/Auto">
                        <li class="col-md-4 col-sm-6 li_car">
                            <div class="autos_img">
                                <img src="http://tusautos.com/wp-content/uploads/2015/12/maxresdefault-255x135.jpg" class="img-responsive" />
                            </div>
                            <div class="autos_tt">
                                BMW 535I, NAVI, LEATHER, ABS
                            </div>
                            <div class="autos_prop">
                                <ul>
                                    <li><img src="../img/combustible.png" />67/58</li>
                                    <li><img src="../img/velocidad.png" />120km</li>
                                    <li><img src="../img/transmision.png" />Automatica</li>
                                </ul>
                                <div class="clear"></div>
                            </div>
                        </li>
                    </a>
                    <a href="/Home/Auto">
                        <li class="col-md-4 col-sm-6 li_car">
                            <div class="autos_img">
                                <img src="../img/peug2.jpg" class="img-responsive" />
                            </div>
                            <div class="autos_tt">
                                Toyota Camry XSE 2016
                            </div>
                            <div class="autos_prop">
                                <ul>
                                    <li><img src="../img/combustible.png" />70/65</li>
                                    <li><img src="../img/velocidad.png" />120km</li>
                                    <li><img src="../img/transmision.png" />Automatica</li>
                                </ul>
                                <div class="clear"></div>
                            </div>
                        </li>
                    </a>
                    <a href="/Home/Auto">
                        <li class="col-md-4 col-sm-6 li_car">
                            <div class="autos_img">
                                <img src="../img/auto3.jpg" class="img-responsive" />
                            </div>
                            <div class="autos_tt">
                                Kia Soul, Brand New Model 2016
                            </div>
                            <div class="autos_prop">
                                <ul>
                                    <li><img src="../img/combustible.png" />45/65</li>
                                    <li><img src="../img/velocidad.png" />120km</li>
                                    <li><img src="../img/transmision.png" />Manual</li>
                                </ul>
                                <div class="clear"></div>
                            </div>
                        </li>
                    </a>
                    <a href="/Home/Auto">
                        <li class="col-md-4 col-sm-6 li_car">
                            <div class="autos_img">
                                <img src="../img/auto4.jpg" class="img-responsive" />
                            </div>
                            <div class="autos_tt">
                                Hyundai Veloster Turbo Sport
                            </div>
                            <div class="autos_prop">
                                <ul>
                                    <li><img src="../img/combustible.png" />100</li>
                                    <li><img src="../img/velocidad.png" />120km</li>
                                    <li><img src="../img/transmision.png" />Automatica</li>
                                </ul>
                                <div class="clear"></div>
                            </div>
                        </li>
                    </a>
                    <a href="/Home/Auto">
                        <li class="col-md-4 col-sm-6 li_car">
                            <div class="autos_img">
                                <img src="../img/auto6.jpg" class="img-responsive" />
                            </div>
                            <div class="autos_tt">
                                BMW 535I, NAVI, LEATHER, ABS
                            </div>
                            <div class="autos_prop">
                                <ul>
                                    <li><img src="../img/combustible.png" />100</li>
                                    <li><img src="../img/velocidad.png" />120km</li>
                                    <li><img src="../img/transmision.png" />Automatica</li>
                                </ul>
                                <div class="clear"></div>
                            </div>
                        </li>
                    </a>
                    <a href="/Home/Auto">
                        <li class="col-md-4 col-sm-6 li_car">
                            <div class="autos_img">
                                <img src="../img/auto5.jpg" class="img-responsive" />
                            </div>
                            <div class="autos_tt">
                                Toyota Corolla
                            </div>
                            <div class="autos_prop">
                                <ul>
                                    <li><img src="../img/combustible.png" />80/54</li>
                                    <li><img src="../img/velocidad.png" />180km</li>
                                    <li><img src="../img/transmision.png" />Automatica</li>
                                </ul>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </li>
                    </a>
                    <a href="/Home/Auto">
                        <li class="col-md-4 col-sm-6 li_car">
                            <div class="autos_img">
                                <img src="../img/auto7.jpg" class="img-responsive" />
                            </div>
                            <div class="autos_tt">
                                Volkswagen Golf
                            </div>
                            <div class="autos_prop">
                                <ul>
                                    <li><img src="../img/combustible.png" />85/60</li>
                                    <li><img src="../img/velocidad.png" />170km</li>
                                    <li><img src="../img/transmision.png" />Automatica</li>
                                </ul>
                                <div class="clear"></div>
                                <div class="clear"></div>
                            </div>
                        </li>
                    </a>
                    <a href="/Home/Auto">
                        <li class="col-md-4 col-sm-6 li_car">
                            <div class="autos_img">
                                <img src="../img/auto8.jpg" class="img-responsive" />
                            </div>
                            <div class="autos_tt">
                                Volkswagen Gol
                            </div>
                            <div class="autos_prop">
                                <ul>
                                    <li><img src="../img/combustible.png" />75/60</li>
                                    <li><img src="../img/velocidad.png" />130km</li>
                                    <li><img src="../img/transmision.png" />Automatica</li>
                                </ul>
                                <div class="clear"></div>
                                <div class="clear"></div>
                            </div>
                        </li>
                    </a>
                    <div class="clear"></div>
                </ul>
                <div id="navegacion">
                    <ul>
                        <li id="prev">
                            Anterior
                        </li>
                        <li>
                            1
                        </li>
                        <li>
                            2
                        </li>
                        <li>
                            3
                        </li>
                        <li id="next">
                            Siguiente
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
        </article>
    </div>
 </section>

<script>
    var wn = $('#navegacion').width();
    $('#navegacion').css('width', wn+30);
    $('#navegacion').css('margin', '0 auto');
    $('#navegacion').css('float', 'none');
</script>

