@{
    ViewBag.Title = "Contacto";
}

<div id="contacto">
    <div class="col-md-12" id="form_contacto">
        <h2>Contactá con Nosotros</h2>
        <ul>
            <li><input type="text" name="nombre" placeholder="Nombre..."/></li>
            <li><input type="number" name="telefono" placeholder="Telefono..." /></li>
            <li><input type="email" name="email" placeholder="Email..."</li>
            <li><input type="text" name="Asunto" placeholder="Asunto..."</li>
            <li><textarea name="mensaje" placeholder="Escribe tu mensaje aquí"></textarea></li>
            <li><input type="submit" value="Enviar Mensaje" /></li>
        </ul>
    </div>

</div>

