@{
    ViewBag.Title = "TusAutos.com";
}

<section class="containter-fluid">
    <div class="row">
        <article id="list_autos">
            <div class="col-md-12">
                <ul style="margin:0;padding:0;">
                   <a href="/Home/Auto">
                       <li class="col-md-3 col-sm-6 li_car">
                           <div class="autos_img">
                               <img src="http://tusautos.com/wp-content/uploads/2015/12/maxresdefault-255x135.jpg" class="img-responsive" />
                           </div>
                           <div class="autos_tt">
                               BMW 535I, NAVI, LEATHER, ABS
                           </div>
                           <div class="autos_prop">
                               <ul>
                                   <li><img src="../img/combustible.png" />67/58</li>
                                   <li><img src="../img/velocidad.png" />120km</li>
                                   <li><img src="../img/transmision.png" />Automatica</li>
                               </ul>
                               <div class="clear"></div>
                           </div>
                       </li>
                    </a>
                    <a href="/Home/Auto">
                        <li class="col-md-3 col-sm-6 li_car">
                            <div class="autos_img">
                                <img src="../img/peug2.jpg" class="img-responsive" />
                            </div>
                            <div class="autos_tt">
                                Toyota Camry XSE 2016
                            </div>
                            <div class="autos_prop">
                                <ul>
                                    <li><img src="../img/combustible.png" />70/65</li>
                                    <li><img src="../img/velocidad.png" />120km</li>
                                    <li><img src="../img/transmision.png" />Automatica</li>
                                </ul>
                                <div class="clear"></div>
                            </div>
                        </li>
                    </a>
                    <a href="/Home/Auto">
                        <li class="col-md-3 col-sm-6 li_car">
                            <div class="autos_img">
                                <img src="../img/auto3.jpg" class="img-responsive" />
                            </div>
                            <div class="autos_tt">
                                Kia Soul, Brand New Model 2016
                            </div>
                            <div class="autos_prop">
                                <ul>
                                    <li><img src="../img/combustible.png" />45/65</li>
                                    <li><img src="../img/velocidad.png" />120km</li>
                                    <li><img src="../img/transmision.png" />Manual</li>
                                </ul>
                                <div class="clear"></div>
                            </div>
                        </li>
                     </a>
                    <a href="/Home/Auto">
                        <li class="col-md-3 col-sm-6 li_car">
                            <div class="autos_img">
                                <img src="../img/auto4.jpg" class="img-responsive" />
                            </div>
                            <div class="autos_tt">
                                Hyundai Veloster Turbo Sport
                            </div>
                            <div class="autos_prop">
                                <ul>
                                    <li><img src="../img/combustible.png" />100</li>
                                    <li><img src="../img/velocidad.png" />120km</li>
                                    <li><img src="../img/transmision.png" />Automatica</li>
                                </ul>
                                <div class="clear"></div>
                            </div>
                        </li>
                    </a>
                    <a href="/Home/Auto">
                        <li class="col-md-3 col-sm-6 li_car">
                            <div class="autos_img">
                                <img src="../img/auto6.jpg" class="img-responsive" />
                            </div>
                            <div class="autos_tt">
                                BMW 535I, NAVI, LEATHER, ABS
                            </div>
                            <div class="autos_prop">
                                <ul>
                                    <li><img src="../img/combustible.png" />100</li>
                                    <li><img src="../img/velocidad.png" />120km</li>
                                    <li><img src="../img/transmision.png" />Automatica</li>
                                </ul>
                                <div class="clear"></div>
                            </div>
                        </li>
                    </a>
                    <a href="/Home/Auto">
                        <li class="col-md-3 col-sm-6 li_car">
                            <div class="autos_img">
                                <img src="../img/auto5.jpg" class="img-responsive" />
                            </div>
                            <div class="autos_tt">
                                Toyota Corolla
                            </div>
                            <div class="autos_prop">
                                <ul>
                                    <li><img src="../img/combustible.png" />80/54</li>
                                    <li><img src="../img/velocidad.png" />180km</li>
                                    <li><img src="../img/transmision.png" />Automatica</li>
                                </ul>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </li>
                    </a>
                    <a href="/Home/Auto">
                        <li class="col-md-3 col-sm-6 li_car">
                            <div class="autos_img">
                                <img src="../img/auto7.jpg" class="img-responsive" />
                            </div>
                            <div class="autos_tt">
                                Volkswagen Golf
                             </div>
                             <div class="autos_prop">
                                    <ul>
                                        <li><img src="../img/combustible.png" />85/60</li>
                                        <li><img src="../img/velocidad.png" />170km</li>
                                        <li><img src="../img/transmision.png" />Automatica</li>
                                    </ul>
                                    <div class="clear"></div>
                                <div class="clear"></div>
                             </div>
                        </li>
                    </a>
                    <a href="/Home/Auto">
                        <li class="col-md-3 col-sm-6 li_car">
                            <div class="autos_img">
                                <img src="../img/auto8.jpg" class="img-responsive" />
                            </div>
                            <div class="autos_tt">
                                Volkswagen Gol
                             </div>
                                <div class="autos_prop">
                                    <ul>
                                        <li><img src="../img/combustible.png" />75/60</li>
                                        <li><img src="../img/velocidad.png" />130km</li>
                                        <li><img src="../img/transmision.png" />Automatica</li>
                                    </ul>
                                    <div class="clear"></div>
                                <div class="clear"></div>
                            </div>
                        </li>
                    </a>
                <div class="clear"></div>
                </ul>
            </div>
            <div class="clear"></div>
            <div id="vmautos">
                <a href="#" id="a_vm">Ver mas Autos</a>
            </div>
        </article>
        <div id="sec_sl_promotores">
            <section class="jk-slider">
                <h2>Slider Promotores</h2>
                <div id="carousel-example" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example" data-slide-to="1"></li>
                        <li data-target="#carousel-example" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <a href="#"><img src="../img/promotor1.jpg" /></a>
                            <div class="hero">
                                <hgroup>
                                    <h1>Promotor Nº 1</h1>
                                    <h3>Titulo Promocion o Negocio</h3>
                                    <p>Breve Descripción sobre Promocion o Negocio</p>
                                </hgroup>

                            </div>
                        </div>
                        <div class="item">
                            <a href="#"><img src="../img/promotor2.jpg" /></a>
                            <div class="hero">
                                <hgroup>
                                    <h1>Promotor Nº 2</h1>
                                    <h3>Titulo Promocion o Negocio</h3>
                                    <p>Breve Descripción sobre Promocion o Negocio</p>
                                </hgroup>

                            </div>
                        </div>
                        <div class="item">
                            <a href="#"><img src="../img/promotor3.jpg" /></a>
                            <div class="hero">
                                <hgroup>
                                    <h1>Promotor Nº 3</h1>
                                    <h3>Titulo Promocion o Negocio</h3>
                                    <p>Breve Descripción sobre Promocion o Negocio</p>
                                </hgroup>
                            </div>
                        </div>
                    </div>

                    <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>

            </section>
        </div>
    </div>
</section>
@section Scripts {
<script src="../Scripts/Site.js" tyoe="text/javascript"></script>    
}

