@{
    ViewBag.Title = "TusAutos.com";
}

<section class="containter-fluid">
    <article id="list_autos">
            <div class="col-md-12">
                <ul style="margin:0;padding:0;">
                    <li class="col-md-3">
                        <div class="autos_img">
                            <img src="http://tusautos.com/wp-content/uploads/2015/12/maxresdefault-255x135.jpg" />
                        </div>
                        <div class="autos_tt">
                            BMW 535I, NAVI, LEATHER, ABS
                        </div>
                        <div class="autos_prop">
                            <ul>
                                <li><img src="../img/combustible.png" />100</li>
                                <li><img src="../img/velocidad.png" />120km</li>
                                <li><img src="../img/transmision.png" />Automatica</li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </li>
                    <li class="col-md-3">
                        <div class="autos_img">
                            <img src="http://tusautos.com/wp-content/uploads/2015/12/maxresdefault-255x135.jpg" />
                        </div>
                        <div class="autos_tt">
                            BMW 535I, NAVI, LEATHER, ABS
                        </div>
                        <div class="autos_prop">
                            <ul>
                                <li><img src="../img/combustible.png" />100</li>
                                <li><img src="../img/velocidad.png" />120km</li>
                                <li><img src="../img/transmision.png" />Automatica</li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </li>
                    <li class="col-md-3">
                        <div class="autos_img">
                            <img src="http://tusautos.com/wp-content/uploads/2015/12/maxresdefault-255x135.jpg" />
                        </div>
                        <div class="autos_tt">
                            BMW 535I, NAVI, LEATHER, ABS
                        </div>
                        <div class="autos_prop">
                            <ul>
                                <li><img src="../img/combustible.png" />100</li>
                                <li><img src="../img/velocidad.png" />120km</li>
                                <li><img src="../img/transmision.png" />Automatica</li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </li>
                    <li class="col-md-3">
                        <div class="autos_img">
                            <img src="http://tusautos.com/wp-content/uploads/2015/12/maxresdefault-255x135.jpg" />
                        </div>
                        <div class="autos_tt">
                            BMW 535I, NAVI, LEATHER, ABS
                        </div>
                        <div class="autos_prop">
                            <ul>
                                <li><img src="../img/combustible.png" />100</li>
                                <li><img src="../img/velocidad.png" />120km</li>
                                <li><img src="../img/transmision.png" />Automatica</li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </li>
                    <li class="col-md-3">
                        <div class="autos_img">
                            <img src="http://tusautos.com/wp-content/uploads/2015/12/maxresdefault-255x135.jpg" />
                        </div>
                        <div class="autos_tt">
                            BMW 535I, NAVI, LEATHER, ABS
                        </div>
                        <div class="autos_prop">
                            <ul>
                                <li><img src="../img/combustible.png" />100</li>
                                <li><img src="../img/velocidad.png" />120km</li>
                                <li><img src="../img/transmision.png" />Automatica</li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </li>
                    <li class="col-md-3">
                        <div class="autos_img">
                            <img src="http://tusautos.com/wp-content/uploads/2015/12/maxresdefault-255x135.jpg" />
                        </div>
                        <div class="autos_tt">
                            BMW 535I, NAVI, LEATHER, ABS
                        </div>
                        <div class="autos_prop">
                            <ul>
                                <li><img src="../img/combustible.png" />100</li>
                                <li><img src="../img/velocidad.png" />120km</li>
                                <li><img src="../img/transmision.png" />Automatica</li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </li>
                   
                </ul>
                <div class="clear"></div>
                <a href="#" id="a_vm">Ver mas Autos</a>
            </div>
    </article>
   
    <div id="sec_sl_promotores">
            <div class="col-md-12">
                <h2>Slider Promotores</h2>
                <!-- Fotorama -->

                <div class="fotorama" data-width="2000" data-ratio="800/300" data-max-width="100%">
                    <img src="http://wowslider.com/sliders/demo-5/data/images/clody.jpg">
                    <img src="http://wowslider.com/sliders/demo-5/data/images/clody.jpg">
                    <img src="http://wowslider.com/sliders/demo-5/data/images/clody.jpg">
                </div>
            </div>
    </div>
</section>


