@{
    ViewBag.Title = "Acerca de Nostros";
}

<div id="sec_qs">
    <h2>Quienes Somos</h2>
    <div id="qs">
        Nosotros Somos una empresa interemediaria entre Consensionarias de Autos, promotores del rubro automotor y los futuros clientes, nuestro objetivo es Generar un punto confiable entre Vendedor/Cliente y brindar el mejor servicio a nuestros contactantes.
    </div>
</div>

